<div class="modal-header">
  <h4 class="modal-title">Create New Event</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <form>
    <div class='form-row'>
      <div class='col-md-12'>
        <input type='text' class='form-control' [(ngModel)]='eventTitle' placeholder='Event Title' name='event-title' required>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-md-12'>
        <input type='text' class='form-control' [(ngModel)]='eventDescription' placeholder='Event Description' name='event-description' required>
      </div>
    </div>
    <div class='form-row'>
      <div id='date-picker' class='col-md-6'>
        <div class='row'>
          <label class='col-sm align-middle' for='event-start'>Event Start</label>
          <input class="form-control col-sm align-middle" placeholder="yyyy-mm-dd" name='event-start' [(ngModel)]="startDate" ngbDatepicker #sd="ngbDatepicker">
          <div class="input-group-append col-sm align-middle">
            <button class="btn btn-outline-secondary align-middle" (click)="sd.toggle()" type="button">
              <i class="material-icons">date_range</i>
            </button>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <ngb-timepicker name='start-time' [(ngModel)]="startTime"></ngb-timepicker>
      </div>
    </div>
    <div class='form-row'>
      <div id='date-picker' class='col-md-6'>
        <div class='row'>
          <label class='col-sm align-middle' for='event-end'>Event End</label>
          <input class="form-control col-sm align-middle" placeholder="yyyy-mm-dd" name='event-end' [(ngModel)]="endDate" ngbDatepicker #ed="ngbDatepicker">
          <div class="input-group-append col-sm align-middle">
            <button class="btn btn-outline-secondary align-middle" (click)="ed.toggle()" type="button">
              <i class="material-icons">date_range</i>
            </button>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <ngb-timepicker name='end-time' [(ngModel)]="endTime"></ngb-timepicker>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-sm-4'>
        <input type='text' class='form-control' [(ngModel)]='eventStreetNumber' placeholder='Street Number' name='event-street-number' required>
      </div>
      <div class='col-sm-8'>
        <input type='text' class='form-control' [(ngModel)]='eventStreetName' placeholder='Street Name' name='event-street-name' required>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-sm-4'>
        <input type='text' class='form-control' [(ngModel)]='eventCity' placeholder='City' name='event-city' required>
      </div>
      <div class='col-sm-4'>
        <select [(ngModel)]='eventState' name='event-state'>
          <option *ngFor='let state of states' value={{state.stateId}}>
            {{state.stateName}}
          </option>
        </select>
      </div>
      <div class='col-sm-4'>
        <input type='text' class='form-control' [(ngModel)]='eventZipCode' placeholder='Zip Code' name='event-zip-code' required>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="Submit()">Add Event</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
