@import '~material-design-icons/iconfont/material-icons.css';

.modal-body {
    padding-left: 5%;
    padding-right: 5%;
}

.form-control {
  padding-left:1%;
  padding-right:1%;
}

#date-picker {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form-row {
  padding-top: 2%;
  padding-bottom: 2%;
}
