<div class="modal-header">
  <h4 class="modal-title">Create New Event</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <div class='row'>
    <input type="text" placeholder="Event Title" class="form-control">
  </div>
  <div class='row'>
    <input type="text" placeholder="Event Description" class="form-control">
  </div>
  <div class='row'>
    <input type="text" placeholder="Event Start" class="form-control col-sm">
    <input type="text" placeholder="Event End" class="form-control col-sm">
  </div>
  <div class='row'>
    <input type="text" placeholder="Street Number" class="form-control col-sm">
    <input type="text" placeholder="Street Name" class="form-control col-sm">
    <input type="text" placeholder="Street City" class="form-control col-sm">
  </div>
  <div class='row'>
    <input type="text" placeholder="State" class="form-control col-sm">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="submit()">Add Event</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
