<div class="modal-header">
  <h4 class="modal-title">Create New Event</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <form>
    <div class='form-row'>
      <div class='col-md-12'>
        <input type='text' class='form-control' [(ngModel)]='eventTitle' placeholder='Event Title' id='event-title' required>
      </div>
    </div>
    <div class='form-row'>
      <div class='col-md-12'>
        <input type='text' class='form-control' [(ngModel)]='eventDescription' placeholder='Event Description' id='event-description' required>
      </div>
    </div>
    <div class='form-row'>
      <div id='date-picker' class='col-md-6'>
        <div class='row'>
          <label class='col-sm align-middle' for='event-start'>Event Start</label>
          <input class="form-control col-sm align-middle" placeholder="yyyy-mm-dd" id='event-start' [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append col-sm align-middle">
            <button class="btn btn-outline-secondary align-middle" (click)="d.toggle()" type="button">
              <i class="material-icons">date_range</i>
            </button>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker>
      </div>
    </div>
    <div class='form-row'>
      <div id='date-picker' class='col-md-6'>
        <div class='row'>
          <label class='col-sm align-middle' for='event-end'>Event End</label>
          <input class="form-control col-sm align-middle" placeholder="yyyy-mm-dd" id='event-end' [(ngModel)]="endDate" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append col-sm align-middle">
            <button class="btn btn-outline-secondary align-middle" (click)="d.toggle()" type="button">
              <i class="material-icons">date_range</i>
            </button>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="submit()">Add Event</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
