<h1 *ngIf="isProfileUser" class="text-center">Welcome Back {{ profile.companyName }}!</h1>

<div class="card m-3">
    <div class="card-body">
        <div class="row d-flex justify-content-between m-1 align-content-center">
            <h3>About Us:</h3>
            <div>
                <button type="button" *ngIf="isProfileUser" class="btn btn-primary" (click)="updateCompany()">Update Profile</button>
                
                <label class="btn btn-primary btn- m-2">
                    Set Logo <input type="file" style="display: none;" (change)="handleFileInputImg($event.target.files)">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Company Name</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="profile.companyName" [disabled]="!isProfileUser" placeholder="Company Name" aria-label="Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Company Website</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="profile.url" [disabled]="!isProfileUser" placeholder="Company Website" aria-label="Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="material-icons">call</i></span>
                    </div>
                    <input type="text" class="form-control" [textMask]="{mask:mask}"  [(ngModel)]="profile.phoneNumber" [disabled]="!isProfileUser" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="basic-addon1">
                    <div class="m-3"></div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">#</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="profile.streetNumber" [disabled]="!isProfileUser" placeholder="Street Number" aria-label="Major" aria-describedby="basic-addon1">
                    <div class="m-3"></div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Street</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="profile.street" [disabled]="!isProfileUser" placeholder="Street" aria-label="Major" aria-describedby="basic-addon1">
                </div>
                <div class="input-group m-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">City</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="profile.city" [disabled]="!isProfileUser" placeholder="City" aria-label="Major" aria-describedby="basic-addon1">
                    <div class="m-3"></div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">State</span>
                    </div>
                    <ng-template #stateTemplate let-r="result" let-t="term">
                        {{ r.stateName }}
                    </ng-template>
                    <input id="typeahead-template" type="text" class="form-control"  [disabled]="!isProfileUser" [(ngModel)]="profile.state" [ngbTypeahead]="search" [resultTemplate]="stateTemplate"
                    [inputFormatter]="formatter" />
                    <div class="m-3"></div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Zipcode</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="profile.zipCode" [disabled]="!isProfileUser" placeholder="Zipcode" aria-label="Major" aria-describedby="basic-addon1">
                </div>
                <div class="input-group m-3" *ngIf="isProfileUser">
                    <ng-template #chipsTemplate let-r="result" let-t="term">
                        {{ r.tag }}
                    </ng-template>
                    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="newTag" [ngbTypeahead]="searchTags" [resultTemplate]="chipsTemplate"
                    [inputFormatter]="formatterTag" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="addChip(newTag)">Add Tag</button>
                    </div>
                </div>
                <div class="row m-2" *ngIf="isProfileUser">
                    <ngb-alert *ngFor="let chip of companyChips" type='info' class="m-1" (close)=deleteChip(chip)>{{chip}}</ngb-alert>
                </div>
                <div class="row m-2" *ngIf="!isProfileUser">
                    <ngb-alert *ngFor="let chip of companyChips" type='info' class="m-1" [dismissible]="false">{{chip}}</ngb-alert>
            </div>
            </div>
            <div class="col-4">
                <img src="{{profile.logo ? profile.logo : '../../assets/placeholder.png' }}" class="w-100"/>
            </div>
        </div>
    </div>
</div>