<h1 *ngIf="isProfileUser">Welcome back {{profile.companyName}}</h1>
<h1 *ngIf="!isProfileUser">{{profile.companyName}}</h1>

<div class="card p-3 m-3">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Company Name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="profile.companyName" placeholder="Company Name" aria-label="Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="material-icons">call</i></span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="profile.phoneNumber"  placeholder="Email" aria-label="Phone Number" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="profile.streetNumber" placeholder="Street Number" aria-label="Major" aria-describedby="basic-addon1">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Street</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="profile.street" placeholder="Street" aria-label="Major" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Notes</span>
        </div>
        <textarea class="form-control" aria-label="Notes"></textarea>
    </div>
    <button type="button" class="btn btn-primary m-2" (click)="submitNote()">Submit</button>
</div>