<h1 *ngIf="isProfileUser" class="text-center">Welcome Back {{ profile.companyName }}!</h1>

<ngb-tabset>
    <ngb-tab title="Profile">
        <ng-template ngbTabContent>
            <app-profile 
                [profile]="profile"
                [companyChips]="companyChips"
                [states]="states"
                [streetAddress]="streetAddress"
                [isProfileUser]="isProfileUser"
                (_success)="succeedMessage($event)"
                (_fail)="failedMessage($event)"
            ></app-profile>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="All Events" *ngIf="events != null && isProfileUser">
        <ng-template ngbTabContent> 
            <app-all-events
                [events]="events"
            ></app-all-events>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Future Events" *ngIf="futureEvents != null">
        <ng-template ngbTabContent>    
            <app-future-events
            [futureEvents]="futureEvents"
            [isProfileUser]="isProfileUser"
            ></app-future-events>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Open Jobs" *ngIf="jobs != null || isProfileUser">
        <ng-template ngbTabContent> 
            <app-job-list
                [jobs]="jobs"
                [isProfileUser]="isProfileUser"
                [profile]="profile"
                (_success)="succeedMessage($event)"
                (_fail)="failedMessage($event)"
            ></app-job-list>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<ngb-alert *ngIf="successMessage" type="success" class="alert" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<ngb-alert *ngIf="failMessage" type="warning" class="alert" (close)="failMessage = null">{{ failMessage }}</ngb-alert>