<div class="margin"></div>
<h1 class="cover-heading">Team Maplication:</h1>
<div class="members">
    <div>
        <h3>Stacy Feeley</h3>
        <img src="../../assets/stacy.svg" class="person" />
    </div>
    <div>
        <img src="../../assets/tyler.svg" class="person" />
        <h3>Tyler Yanke</h3>
    </div>
    <div>
        <h3>William Smith</h3>
        <img src="../../assets/will.svg" class="person" />
    </div>
    <div>
        <img src="../../assets/patty.svg" class="person" />
        <h3>Patty Caldwell</h3>
    </div>
    <div>
        <h3>Chris Elliot</h3>
        <img src="../../assets/chris.svg" class="person" />
    </div>
</div>
<div class="description">
    <h2>Our Mission:</h2>
    <p>To assist recruiters and attendees to find eachother painlessly.</p>

    <h2>How It Works:</h2>
    <p>Maplication is a online tool that assists job seekers and recruiters 
        attending job fairs, 
        hack-a-thons, or recruitment events, to connect and facilitate the 
        hiring process. With this web application, job seekers will be able 
        to see companies based on map location at an event to expedite their 
        job search process. The interactivity allows job seekers to easily 
        research information about companies before meeting up at the event. 
        Features of the map would include hovering to see who is at that table 
        and clicking to view company profiles. Additionally, the map will be 
        searchable by company name and career field tags to highlight table locations.</p>
</div>
