@import '~material-design-icons/iconfont/material-icons.css';

/* .container {
  background:#e2e2e2;
  padding: 3em;
  font-family: 'Raleway', 'Arial';
  color: black;
}
h1{
  background:#384d48; 
  padding: 3em;
  color: white;
}
input{
  background:#a5d8ff; 
  color: black;
}
.Center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
h3{
    background:#acad94;
    text-align: center;
    margin: 0px 50px;
    margin-bottom: 10px;
    padding: 5px;
}
input{
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
h1{
  text-align: center;
  margin: 0px 50px;
  margin-bottom: 10px;
  padding: 25px;
}
body {
    background:#2E9CE6;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
} */