<div class="card m-2">
  <div class="card-body d-flex flex-md-row flex-column justify-content-center align-items-center">
      <div class="input-group m-1">
        <div class="input-group-prepend d-none d-lg-block">
            <span class="input-group-text" id="basic-addon1">State</span>
        </div>
        <ng-template #stateTemplate let-r="result" let-t="term">
            {{ r.stateName }}
        </ng-template>
        <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="state" 
        [ngbTypeahead]="search" [resultTemplate]="stateTemplate"
        [inputFormatter]="formatter" />
      </div>
      <div class="input-group m-1">
        <div class="input-group-prepend d-none d-lg-block">
          <span class="input-group-text" id="basic-addon1">Start</span>
        </div>
        <input class="form-control" [(ngModel)]="start" placeholder="yyyy-mm-dd"
          (click)="ds.toggle()"name="dp" ngbDatepicker #ds="ngbDatepicker">
      </div>
      <div class="input-group m-1">
        <div class="input-group-prepend d-none d-lg-block">
          <span class="input-group-text" id="basic-addon1">End</span>
        </div>
        <input class="form-control" [(ngModel)]="end" placeholder="yyyy-mm-dd"
          (click)="de.toggle()" name="dp" ngbDatepicker #de="ngbDatepicker">
      </div>
        <button type="button" class="btn btn-primary m-1" (click)="updateEvents()">Update Search</button> 
  </div>
</div>

<table class="table table-hover m-2">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col" class="d-none d-md-block">Contact</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td (click)="goToMap(event.eventId)">{{event.eventTitle}}</td>
      <td (click)="goToMap(event.eventId)">{{event.streetNumber + ' ' + event.street}} <br> {{event.city + ', ' + event.state.stateName + ' ' + (event.zipcode ? event.zipcode : '')}}</td>
      <td (click)="goToMap(event.eventId)">{{event.startTime | date: 'short'}}</td>
      <td (click)="goToMap(event.eventId)">{{event.endTime | date: 'short'}}</td>
      <td (click)="goToMap(event.eventId)" class="d-none d-md-block">{{event.coordinator.firstName + ' ' + event.coordinator.lastName}} <br> {{event.coordinator.email}}</td>
      <td>
          <div *ngIf="this.globals.isCompany">
            <ng-template class="form-inline" #showList>
              <button class="nav-link" (click)="goToAttendeeList(event.eventId)" class="btn btn-primary btn-block">Attendee List</button>
            </ng-template>  
            <button type="button" class="btn btn-primary btn-block" *ngIf="!event.rsvp; else showList" (click)="rsvp(event.eventId)">RSVP</button>          
          </div>
          <button type="button" class="btn btn-primary btn-block" *ngIf="!this.globals.isCompany" (click)="rsvp(event.eventId)" [disabled]="event.rsvp">RSVP</button>         
      </td>
    </tr>
  </tbody>
</table>