<input [(ngModel)]="searchText" placeholder="search text goes here">
<div class="d-flex justify-content-start flex-wrap">
    <div *ngFor="let event of events | eventFilter: searchText" class="card" style="width: 15rem">
      <a href="http://www.google.com/">
        <img class="card-img-top" src={{event.eventPic}} alt="Event Picture">
      </a>
      <div class="event-description card-block">
        <h4 class="event-name card-title" style="font-size: 120%; text-align: center">{{event.eventName}}</h4>
        <p class="event-desc card-text">{{event.eventDesc}}</p>
        <p class="date card-text">Mar 8, 2018 - Mar 10, 2018</p>
        <p class="location card-text">{{event.eventLocCity}}, {{event.eventLocState}}</p>
        <button type="button" class="btn btn-secondary">RSVP</button>
        <button type="button" class="btn btn-primary">View Event</button>
      </div>
    </div>
</div>