<button type="button" class="btn btn-primary m-2" (click)="toggleAddNote()" *ngIf="!addNote">Add Note</button>
<div class="card p-3 m-3" *ngIf="addNote">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Major</span>
        </div>
        <input type="text" class="form-control" placeholder="Major" aria-label="Major" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Notes</span>
        </div>
        <textarea class="form-control" aria-label="Notes"></textarea>
    </div>
    <button type="button" class="btn btn-primary m-2" (click)="submitNote()">Submit</button>
</div>

<div class="card p-3 m-3">
    <div class="table-responsive-md">
        <table class="table table-striped sortStable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Major</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let note of entries">
                    <th scope="row">{{note.name}}</th>
                    <td>{{note.major}}</td>
                    <td>{{note.email}}</td>
                    <td>{{note.date}}</td>
                    <td>{{note.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>