summary{
    display: block;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
  }

.sectionTitle{
    font-size: 1.17em;
    font-weight: bold;
}

.recruiter{
    font-size: 1em;
    font-weight: bold;
}

.card{
    width: 100%;
}

ngb-alert{
    z-index: 999;
    position: fixed;
    top: 10vh;
    right: 0;
}