<div class="card m-2">
  <div class="card-body">           
    <div class="d-flex flex-md-row flex-column justify-content-center align-items-center">
        <div class="input-group m-1">
            <div class="input-group-prepend d-none d-lg-block">
                <span class="input-group-text" id="basic-addon1">Attendee Name</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="attendeeName" 
            placeholder="Attendee Name" aria-label="Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group m-1">
            <div class="input-group-prepend d-none d-lg-block">
                <span class="input-group-text" id="basic-addon1">Degree</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="degree" 
            placeholder="Degree" aria-label="Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group m-1">
            <div class="input-group-prepend d-none d-lg-block">
                <span class="input-group-text" id="basic-addon1">University</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="university" 
            placeholder="University" aria-label="Name" aria-describedby="basic-addon1">
        </div>
        <div class="m-1">
            <button type="button" class="btn btn-primary m-1" (click)="updateList()">
                Filter
            </button> 
        </div>
      </div>
  </div> 
</div>
<div style="height:5vh"></div>
<table class="table table-hover table-responsive-md m-2">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Degree</th>
      <th scope="col">University</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attendee of attendees">
      <td (click)="goToAttendee(attendee.userId)">{{attendee.fullName}}</td>
      <td (click)="goToAttendee(attendee.userId)">{{attendee.email}}</td>
      <td (click)="goToAttendee(attendee.userId)">{{attendee.phoneNumber}}</td>
      <td (click)="goToAttendee(attendee.userId)">{{attendee.degree}}</td>
      <td (click)="goToAttendee(attendee.userId)">{{attendee.university}}</td>
      <td>
          <button type="button" class="btn btn-primary m-2" (click)="openNoteModal(attendee)">Make Note</button>         
      </td>
    </tr>
  </tbody>
</table>
