input[type=text]{

    height: 45px;
    margin-bottom: 30px;
    margin-inline-end: 0px;
    background-color: rgb(37, 54, 54);
    color: white;
    border-radius: 5px;
    border: 0;
    width: 370px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text]:focus {
    background-color: rgb(52, 77, 77);;
}

input.addr{
    width: auto;
}

#cont{
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}


div[class=container]{
    background-color: rgba(76,77,142,0.7);
    height: 100px;
    padding-top: 25px;
    margin-bottom: 100px;
}

#profileImg{
    margin-top: 30px;
    width: 500px;
    height: auto; 
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imgContainer {
    position: relative;
}

h5{
    width: 150%;
    padding-left: 115px;
    text-align: center;
}


::placeholder{
    color:white;
    text-align: center;
}