<div id="cont" class="modal-body row">
  <div class="col-lg-8">
    <div class="header">
      <h1 class="row justify-content-center">{{greeting}}</h1>
    </div>
    <div>
      <h6 id="desc" *ngIf="viewMode" class="row justify-content-center">{{descriptionText}}</h6>
    </div>
    <form>
      <div class="form-row justify-content-center">
        <div class="col">
          <input type="text" placeholder="Full Name" class="form-control bg-dark" [(ngModel)]="profile.fullName" [ngModelOptions]="{standalone: true}" [disabled]="!viewMode">
        </div>
        <div class="col">
          <input type="text" placeholder="Email" class="form-control bg-dark" [(ngModel)]="profile.email" [ngModelOptions]="{standalone: true}" [disabled]="!viewMode">
        </div>
      </div>
      <div *ngIf="isAttendee" class="form-row justify-content-center">
        <div class="col">
          <input type="text" placeholder="Degree" class="form-control bg-dark" [(ngModel)]="profile.degree" [ngModelOptions]="{standalone: true}" [disabled]="!viewMode">
        </div>
        <div class="col">
          <input type="text" placeholder="College" class="form-control bg-dark" [(ngModel)]="profile.university" [ngModelOptions]="{standalone: true}" [disabled]="!viewMode">
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="col-lg-6">
          <input type="text" placeholder="Phone Number" class="form-control bg-dark" [(ngModel)]="profile.phoneNumber" [ngModelOptions]="{standalone: true}" [disabled]="!viewMode">
        </div>
      </div>
    </form>
    
    <!-- <div *ngIf="viewMode" class="row justify-content-center">
      <div class="col-lg-3">
        <input id="tagSelector" class="form-control bg-dark autoFill" placeholder="Career Tags" auto-complete [(ngModel)]="currTag" (change)="addTag()" [source]="stringTags" [disabled]="!viewMode"/>
      </div>
    </div>
    <div *ngIf="hasTags()" class="row justify-content-center">
      <h6 >{{tagText}}</h6>
    </div>
    <div class="row justify-content-center">
      <div *ngFor="let tag of getTagFromStr(this.profile.chips)">
        <div class="col">
          <span id="{{tag.tag}}" class="tag" unselectable="on"
          onselectstart="return false;" 
          onmousedown="return false;"
          (click)="removeTag(tag.tag)">{{tag.tag}}</span>
        </div>
      </div>
    </div> -->

    <div class="input-group m-3" *ngIf="viewMode">
      <ng-template #chipsTemplate let-r="result" let-t="term">
        {{ r.tag }}
      </ng-template>
      <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="newTag" [ngbTypeahead]="searchTags" [resultTemplate]="chipsTemplate"
        [inputFormatter]="formatterTag" />
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="addChip(newTag)">Add Tag</button>
      </div>
    </div>
    <div class="row m-2" *ngIf="viewMode">
      <ngb-alert *ngFor="let chip of attendeeChips" type='info' class="m-1" (close)=deleteChip(chip)>{{chip}}</ngb-alert>
    </div>
    <div class="row m-2" *ngIf="!viewMode">
      <ngb-alert *ngFor="let chip of attendeeChips" type='info' class="m-1" [dismissible]="false">{{chip}}</ngb-alert>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row justify-content-center">
      <img id="profileImg" src="{{profile.image}}">
      <label *ngIf="viewMode" for="imgFile" class="custom-file-upload"><h3>Upload Your Picture</h3></label>
      <input *ngIf="viewMode" type="file"
              id="imgFile"
              (change)="handleFileInputImg($event.target.files)" class="inputfile">
    </div>
    <div class="row justify-content-center">
      <label *ngIf="viewMode && isAttendee" for="resumeFile" class="custom-file-upload-resume"><h3>Upload Your Resume</h3></label>
      <input *ngIf="viewMode && isAttendee" type="file"
              id="resumeFile"
              (change)="handleFileInputRes($event.target.files)" class="inputfile">
    </div>
    <div *ngIf="profile.resume" class="row justify-content-center">
      <a href="{{profile.resume}}" download>
      <button class="btn align-middle" type="button">
        <i class="large material-icons black">file_download</i>
      </button>
      </a>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <button *ngIf="viewMode" id="submitButton" class="btn btn-primary btn-lg m-3" (click)="submit()">Submit Changes</button>
      </div>
      <div class="row justify-content-center" *ngIf="!viewMode">
        <div *ngIf="afAuth.authState | async as user">
          <button *ngIf="isValid && !user.isAnonymous" id="editButton" class="btn btn-primary btn-lg m-3" (click)="switchMode()">Edit Mode</button>
        </div>
      </div>
    </div>
  </div>

</div>




  

