:host ::ng-deep .unselectable{
  cursor: crosshair;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.content{
  padding-top:10%;
}

.heading{
  justify-content: center;
}

.eventInfo{
  padding-top: 20%;
  margin-top: 20%;
}

.spacing{
  width: 100%;
  height: 5%;
}

button{
  justify-content: center;
}

.input-group{
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
}

.alert{
  z-index: 999;
  position: fixed;
  top: 10vh;
  right: 0;
}
.d-flex{
  width: 100%;
}

.card{
  width: 98%;
}

textarea{
  width: 88%;
}