.jumbotron{
    background-image: url("../../assets/career_fair.jpg");
}

.opaque{
    background-color: rgba(76,77,142,0.7);
    color: rgb(213,214,206);
}

.opaque .display-2{
    text-align: center;
}

.opaque .display-4{
    text-align: center;
}